body{
    width: 100%;
    height: 100%;
    background-color: #aa6ae7;
}
.container{
    text-align: center;
    margin-top: 20%;

   
    
}
.btn{
    background: transparent;
    border: none;
    font-size: 20px;
}
.hidediv{
    font-size: 40px;
    font-family: cursive;
    text-shadow: 2px 0px #ffff00,0px 2px #8a2be2,-2px 0px #0000ff,0px -2px #ffff00;

}